/* custom css goes here */


 

  body{

    background-color: #f0d0c1;
    font-family: monospace;
    color: #925946;

 
    margin-bottom:  2.76cm;
  }

  .title {
    background-color: #ca8462;
    color: #f0d0c1;
  
  }

    .card-css {

      background-color: #c55f4e ;
      color: #f0d0c1;
    }
    


  

 





